/*
body {
	font-family: arial;
	font-size: 14px;
}

table {
	width: 100%;
	border: solid 1px #CCC;
}

table tr th {
	padding: 5px 10px;
}

table tr td {
	padding: 5px 10px;
	text-align: center;
	border-top: solid 1px #CCC;
}

*/

.clearfix:after {
	content:”.”;
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */
#divflotante {
	float:left;
}

body {
	padding: 10px;
}

ul {
	list-style: none !important;
	margin: 5px 0px 10px 0px;
}

div.fixed {
	position: fixed;
	top: 20px;
}

table tr th,
table tr td {
	text-align: center !important;
}

table tr th {
	cursor: pointer;
}

table tr.total {
	font-weight: bold;
}

table tr td.first {
	text-align: left !important;
}

th.headerSortUp { 
	background-color: #333;
	color: #CCC;
} 
th.headerSortDown { 
	background-color: #CCC;
	color: #333;
} 

.hidden {
	display: none;
}

.more-less {
	cursor: pointer;
	width: 30px;
	float: left;
}

.change-date {
	cursor: pointer;
}

div.login {
	margin: 200px auto;
	width: 500px;
}

td span {
	color: #999;
}

.red {
	/*
	color: #FF0000;
	*/
	background: url(images/down.png) no-repeat 3px 8px #FFE8E8;
	padding-left: 20px !important;
}

.green {
	/*
	color: #00FF00;
	*/
	background: url(images/up.png) no-repeat 3px 8px #E8FFE8;
	padding-left: 20px !important;
}
